---
BasedOnStyle: Google
IndentWidth: 4
ColumnLimit: 100
Language: Cpp
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
BreakBeforeBraces: Attach
PointerAlignment: Left
SpaceBeforeParens: ControlStatements
SortIncludes: CaseSensitive
IncludeBlocks: Preserve
---
Language: ObjC
BasedOnStyle: Google
ColumnLimit: 120
