[flake8]
max-line-length = 120
max-complexity = 12
max-doc-length = 120
extend-ignore =
    E203,
    E266,
    E501,
    W503,
    W504,
    B006,
    B008
exclude =
    .git,
    __pycache__,
    .venv,
    venv,
    .eggs,
    *.egg,
    build,
    dist,
    migrations,
    node_modules,
    .tox,
    docs/conf.py
per-file-ignores =
    __init__.py: F401,
    tests/**/*.py: S101 S105 S106,
    conftest.py: F401 E402
count = true
show-source = true
show-pep8 = true
statistics = true
