! .Xresources — X11 resource database

! Xft settings
Xft.dpi: 96
Xft.antialias: true
Xft.rgba: rgb
Xft.hinting: true
Xft.hintstyle: hintslight

! URxvt terminal settings
URxvt.font: xft:JetBrains Mono:size=11
URxvt.scrollBar: false
URxvt.scrollback: 5000
URxvt.borderless: true
URxvt.geometry: 120x40
URxvt.saveLines: 5000
URxvt.internalBorder: 8
URxvt.perl-ext-common: default,clipboard,url-select,keyboard-select
URxvt.copyCommand: xclip -i -selection clipboard
URxvt.pasteCommand: xclip -o -selection clipboard

! Catppuccin Mocha color scheme
*.foreground: #cdd6f4
*.background: #1e1e2e
*.cursorColor: #f5e0dc

! Black
*.color0: #45475a
*.color8: #585b70

! Red
*.color1: #f38ba8
*.color9: #f38ba8

! Green
*.color2: #a6e3a1
*.color10: #a6e3a1

! Yellow
*.color3: #f9e2af
*.color11: #f9e2af

! Blue
*.color4: #89b4fa
*.color12: #89b4fa

! Magenta
*.color5: #f5c2e7
*.color13: #f5c2e7

! Cyan
*.color6: #94e2d5
*.color14: #94e2d5

! White
*.color7: #bac2de
*.color15: #a6adc8

! rofi settings
rofi.opacity: 90
rofi.font: JetBrains Mono 12
