<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral"/>
  </configSections>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>

  <connectionStrings>
    <add name="MyAppDb"
         connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=MyAppDatabase;Integrated Security=True"
         providerName="System.Data.SqlClient" />
    <add name="ReportsDb"
         connectionString="Server=reports.internal;Database=Reports;User Id=sa;Password=Repor7sPass;"
         providerName="System.Data.SqlClient" />
  </connectionStrings>

  <appSettings>
    <add key="Environment" value="Production" />
    <add key="LogLevel" value="Warn" />
    <add key="SmtpHost" value="smtp.example.com" />
    <add key="SmtpPort" value="587" />
    <add key="SmtpPassword" value="email-secret-password" />
    <add key="FeatureFlag.NewDashboard" value="true" />
    <add key="MaxRetryCount" value="3" />
    <add key="ServiceApiToken" value="tok_prod_abc123xyz" />
  </appSettings>

  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>
