{:deps {org.clojure/clojure {:mvn/version "1.11.1"}
        metosin/reitit {:mvn/version "0.7.0"}
        metosin/muuntaja {:mvn/version "0.6.8"}
        ring/ring-core {:mvn/version "1.10.0"}
        ring/ring-jetty-adapter {:mvn/version "1.10.0"}
        com.github.seancorfield/next.jdbc {:mvn/version "1.3.894"}
        org.postgresql/postgresql {:mvn/version "42.6.0"}
        aero {:mvn/version "1.1.6"}}

 :paths ["src" "resources"]

 :aliases
 {:dev {:extra-paths ["dev" "test"]
        :extra-deps {nrepl/nrepl {:mvn/version "1.1.0"}
                     cider/cider-nrepl {:mvn/version "0.44.0"}}
        :main-opts ["-m" "nrepl.cmdline" "--middleware" "[cider.nrepl/cider-middleware]"]}

  :test {:extra-paths ["test"]
         :extra-deps {lambdaisland/kaocha {:mvn/version "1.87.1366"}}
         :main-opts ["-m" "kaocha.runner"]}

  :build {:deps {io.github.clojure/tools.build {:git/tag "v0.9.6" :git/sha "8e78bcc"}}
          :ns-default build}

  :lint {:extra-deps {clj-kondo/clj-kondo {:mvn/version "2024.03.13"}}
         :main-opts ["-m" "clj-kondo.main" "--lint" "src"]}}}
