[mysqld]
port            = 3306
bind-address    = 127.0.0.1
datadir         = /var/lib/mysql
socket          = /var/run/mysqld/mysqld.sock
log_error       = /var/log/mysql/error.log
max_connections = 151
innodb_buffer_pool_size = 256M
slow_query_log  = 1
slow_query_log_file = /var/log/mysql/mysql-slow.log
long_query_time = 2
character-set-server = utf8mb4
collation-server = utf8mb4_unicode_ci

[client]
port            = 3306
socket          = /var/run/mysqld/mysqld.sock
default-character-set = utf8mb4

[mysqldump]
quick
quote-names
max_allowed_packet = 16M
