<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="MyCompany Feed" value="https://pkgs.dev.azure.com/mycompany/_packaging/MyFeed/nuget/v3/index.json" protocolVersion="3" />
  </packageSources>
  <activePackageSource>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  </activePackageSource>
  <disabledPackageSources>
    <add key="MyCompany Feed" value="true" />
  </disabledPackageSources>
  <fallbackPackageFolders>
    <add key="shared" value="C:\Program Files\dotnet\sdk\NuGetFallbackFolder" />
  </fallbackPackageFolders>
  <config>
    <add key="globalPackagesFolder" value=".nuget/packages" />
    <add key="repositoryPath" value="./packages" />
  </config>
</configuration>
