[Desktop Entry]
Type=Application
Name=My Text Editor
GenericName=Text Editor
Comment=Edit text files
Exec=/usr/bin/myeditor %F
Icon=accessories-text-editor
Terminal=false
Categories=Utility;TextEditor;GTK;
MimeType=text/plain;text/x-readme;
Keywords=editor;text;
StartupWMClass=MyEditor
